@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
// @import "buttons.scss";
@import "fonts.scss";
@import "slick.scss";

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1648px;
  min-width: 300px;
  width: 100%;
  margin: auto;
  padding: 0 60px;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 375px) {
    padding: 0 15px;
  }
}

.go-top {
  position: fixed;
  right: 89px;
  bottom: 86px;
  width: 61px;
  height: 61px;
  background: $c-dark-blue;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  @media screen and (max-width: 1280px) {
    width: 45px;
    height: 45px;
  }
  @media screen and (max-width: 1024px) {
    width: 35px;
    height: 35px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &__arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
    @media screen and (max-width: 1280px) {
      padding: 4px;
      border-width: 0 2px 2px 0;
    }
    @media screen and (max-width: 1024px) {
      padding: 3px;
    }
  }
  &:hover {
    &:after {
      width: calc(100% + 58px);
      height: calc(100% + 58px);
      left: -30px;
      top: -30px;
    }
    &:before {
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      left: -16px;
      top: -16px;
    }
  }
  &:after {
    content: "";
    width: calc(100% + 46px);
    height: calc(100% + 46px);
    left: -24px;
    top: -24px;
    border-radius: 100%;
    border: 1px solid #eff0f3;
    position: absolute;
    transition: 0.1s;
    transition-delay: 0.1s;
    @media screen and (max-width: 1280px) {
    }
  }
  &:before {
    content: "";
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    left: -13px;
    top: -13px;
    border-radius: 100%;
    border: 1px solid #8593a7;
    position: absolute;
    transition: 0.1s;
    transition-delay: 0s;
    @media screen and (max-width: 1280px) {
    }
  }
}

.top-block {
  background: url(../img/tac-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100% - 100px);
  &__info {
    position: relative;
    height: calc(100% - 125px);
    @media screen and (max-width: 1280px) {
      height: calc(100% - 90px);
    }
    @media screen and (max-width: 480px) {
      height: calc(100% - 60px);
    }
    .container {
      //   position: absolute;
      display: flex;
      height: 100%;
      align-items: flex-end;
    }
    &--wrapper {
      width: 55%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      top: 43px;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 94%;
        top: 70px;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    &--title {
      font-size: 48px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 800;
      font-family: "Circe";
      //   margin-top: 30px;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 36px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 32px;
      }
      @media screen and (max-width: 768px) {
      }
      @media screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 1.2em;
      }
      @media screen and (max-width: 480px) {
          // margin: auto;
          // text-align: center;
      }
      @media screen and (max-width: 375px) {
        font-size: 30px;
      }
    }
    &--descr {
      margin-top: 8px;
      color: #fff;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 1.5em;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        margin-top: 5px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
      @media screen and (max-width: 480px) {
        // text-align: center;
      }
      @media screen and (max-width: 375px) and (max-height: 500px){
        line-height: 1.3em;
      }
    }
    &--logo {
      margin-top: 55px;
      background: #fff;
      width: 344px;
      padding: 19px 20px 21px 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1280px) and (min-width: 769px) {
        margin-top: 20px;
        width: 250px;
        padding: 13px 20px 15px 20px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        margin-top: 15px;
        width: 220px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 600px) {
        // margin-top: 20px;
        width: 250px;
        padding: 13px 20px 15px 20px;
        margin: 20px 0;
      }
      @media screen and (max-width: 480px) {
        // margin-top: 15px;
        width: 220px;
        margin: 20px auto 30px;
      }
      img {
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          width: 150px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          width: 120px;
        }
        @media screen and (max-width: 600px) {
          width: 150px;
        }
        @media screen and (max-width: 480px) {
          width: 120px;
        }
      }
    }
  }
}

main {
  padding-top: 106px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1280px) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .big-line-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    // overflow: hidden;
    .big-line {
      background: url(../img/big-line.png) no-repeat;
      background-size: cover;
      position: absolute;
      // background-position: left 66%;
      width: 100%;
      height: calc(100% + 1000px);
      top: -500px;
      left: 0;
      z-index: -1;
      display: none;
      @media screen and (max-width: 1600px) {
        background-position: left 72%;
      }
      // @media screen and (max-width: 1440px) {
      //   background-position: left 74%;
      // }

      @media screen and (max-width: 768px) {
        // display: none;
      }
    }
  }

  .navigation {
    margin: 0;
    ul {
      li {
        &:first-child a {
          padding-left: 0;
        }
        a {
          color: #232323;
          span {
            &:after {
              background: #232323;
            }
          }
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .designed-block {
    width: 100%;
    padding: 20px 0 30px 0;
    position: relative;
    @media screen and (max-width: 1280px) and (min-width: 769px) {
      padding: 15px 0 20px 0;
    }
    @media screen and (max-width: 600px) {
      padding: 15px 0 20px 0;
    }
    &:after {
      content: "";
      width: calc(100% + 40px);
      height: 100%;
      left: 40px;
      top: 0;
      position: absolute;
      background: #fafafa;
      @media screen and (max-width: 768px) {
        left: -20px;
      }
      @media screen and (max-width: 375px) {
        left: -15px;
        width: calc(100% + 30px);
      }
    }
    &__title {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 800;
      position: relative;
      z-index: 1;
      color: #2c2c2c;
      font-family: "Circe";
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 36px;
      }
      @media screen and (max-width: 600px) {
        font-size: 40px;
      }
      @media screen and (max-width: 480px) {
        font-size: 32px;
      }
    }
    &__descr {
      margin-top: 25px;
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      position: relative;
      z-index: 1;
      width: 40%;
      font-weight: 300;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 18px;
        margin-top: 15px;
      }
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
        margin-top: 15px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  .designed-left {
    width: calc(50%- 14px);
    margin-top: 88px;
    @media screen and (max-width: 1280px) {
      width: calc(50%- 10px);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .blue-block {
      padding: 36px 20px 20px 35px;
      background: #082349;
      margin-top: 30px;
      color: #fff;
      position: relative;
      height: 430px;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        padding: 25px 25px 25px 25px;
        height: 320px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        height: 250px;
        padding: 20px;
      }

      @media screen and (max-width: 600px) {
        padding: 25px 25px 25px 25px;
        height: 320px;
      }
      @media screen and (max-width: 480px) {
        height: auto;
        padding: 20px 20px 40px 20px;
      }
      // @media screen and (max-width: 768px) {
      //   height: 430px;
      // }
      &__phone {
        position: absolute;
        right: -3%;
        top: 7%;
        max-width: 464px;
        max-width: calc(62% - 1px);
        bottom: 0;
        width: 100%;
        margin: auto;
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          // max-width: 340px;
          max-width: calc(58% - 1px);
          top: 5%;
          // right: -15px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
        }

        @media screen and (max-width: 600px) {
          max-width: calc(58% - 1px);
          top: 5%;
        }
        @media screen and (max-width: 480px) {
          // font-size: 12px;
        // }
        // @media screen and (max-width: 375px) {
          display: none;
        }
      }
      &__logo {
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          max-width: 155px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          max-width: 130px;
        }

        @media screen and (max-width: 600px) {
          max-width: 155px;
        }
        @media screen and (max-width: 480px) {
          max-width: 190px;
          margin: 50px auto 20px;
          display: block;
        }
      }
      &__text {
        font-size: 18px;
        width: 280px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        // margin-top: 20px;
        line-height: 1.5em;
        @media screen and (max-width: 1440px) and (min-width: 769px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          font-size: 12px;
          width: 240px;
        }
        // @media screen and (max-width: 768px) and (min-width: 769px)  {
        //   font-size: 18px;
        //   width: 280px;
        // }
        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
        a {
          display: block;
          margin-top: 10px;
        }
        &:nth-of-type(1) {
          margin-top: 24px;
          @media screen and (max-width: 1280px) and (min-width: 769px) {
            margin-top: 20px;
          }

          @media screen and (max-width: 600px) {
            margin-top: 20px;
          }
          @media screen and (max-width: 480px) {
            // font-size: 12px;
          }
        }
        &:nth-of-type(2) {
          margin-top: 24px;
          @media screen and (max-width: 1280px) and (min-width: 769px) {
            margin-top: 20px;
          }

          @media screen and (max-width: 600px) {
            margin-top: 20px;
          }
          @media screen and (max-width: 480px) {
            // font-size: 12px;
          }
        }
        &:nth-of-type(3) {
          margin-top: 97px;
          @media screen and (max-width: 1280px) and (min-width: 769px) {
            margin-top: 60px;
          }
          @media screen and (max-width: 1024px) and (min-width: 769px) {
            margin-top: 30px;
          }

          @media screen and (max-width: 600px) {
            margin-top: 60px;
          }
          @media screen and (max-width: 480px) {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .designed-right {
    width: calc(50% - 14px);
    margin-top: -169px;
    position: relative;
    padding-right: 50px;
    @media screen and (max-width: 1280px) {
      width: calc(50%- 10px);
      margin-top: -130px;
      padding-right: 20px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      padding-right: 0px;
      margin-top: 0;
    }
    .blue-block {
      // padding: 20px;
      background: #082349;
      margin-top: 30px;
      color: #fff;
      // position: relative;
      // height: 430px;
      &__text {
        padding: 44px 57px 44px 46px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5em;
        @media screen and (max-width: 1280px) {
          font-size: 18px;
          padding: 30px 30px 30px 30px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
        b {
          font-weight: 500;
        }
        p + p {
          margin-top: 15px;
        }
      }
    }
    .screenshot {
      width: 100%;
      margin-top: 32px;
      // object-fit: none;
      border-top: 4px solid #16294a;
      border-bottom: 4px solid #16294a;
      padding-bottom: 3px;
      @media screen and (max-width: 768px) {
        margin-top: 50px;
      }
    }
  }

  .list {
    margin-top: 90px;
    width: 80%;
    @media screen and (max-width: 1280px) and (min-width: 769px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      // margin-top: 140px;
      margin-top: 18%;
    }
    @media screen and (max-width: 600px) {
      margin-top: 10%;
    }
    @media screen and (max-width: 480px) {
      // margin-top: 10%;
    }
    &__title {
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 18px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
      & ~ .list__title {
        margin-top: 70px;
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          margin-top: 50px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          margin-top: 20px;
        }
        @media screen and (max-width: 600px) {
          margin-top: 40px;
        }
      }
    }
    &__item {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 24px;
      position: relative;
      padding-left: 27px;
      margin-top: 16px;
      line-height: 1.5em;
      letter-spacing: 0px;
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        font-size: 18px;
        margin-top: 12px;
        padding-left: 22px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 14px;
        padding-left: 20px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
        padding-left: 22px;
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
        padding-left: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 16px;
        left: 0;
        display: block;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        background: #000;
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          width: 5px;
          height: 5px;
          top: 10px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          top: 7px;
          width: 4px;
          height: 4px;
        }

        @media screen and (max-width: 600px) {
          width: 5px;
          height: 5px;
          top: 10px;
        }
        @media screen and (max-width: 480px) {
          top: 7px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  .center-text-block {
    margin-top: 115px;
    padding: 52px 20px 52px 50px;
    font-size: 24px;
    background: #fff;
    font-weight: 300;
    font-family: Roboto;
    box-shadow: 0 0 15px -13px #000;
    line-height: 1.5em;
    position: relative;
    // &:after {
    //   content: "";
    //   width: 105px;
    //   height: 84%;
    //   position: absolute;
    //   left: 29px;
    //   top: 0;
    //   background: #08254d;
    // }
    span {
      position: relative;
      z-index: 1;
    }
    @media screen and (max-width: 1280px) and (min-width: 769px) {
      font-size: 18px;
      padding: 30px 20px 50px 40px;
    }
    @media screen and (max-width: 1024px) and (min-width: 769px) {
      font-size: 14px;
      padding: 20px 20px 40px 30px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 65px;
    }
    @media screen and (max-width: 600px) {
      font-size: 18px;
      padding: 20px 20px 40px 30px;
      margin-top: 50px;
    }
    @media screen and (max-width: 480px) {
      font-size: 14px;
      padding: 20px 20px 20px 20px;
    }
  }

  .widget-block {
    margin-top: 71px;
    position: relative;
    // display: flex;
    // align-items: flex-start;
    width: 100%;
    @media screen and (max-width: 1280px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 600px) {
      // min-width: calc(100% + 40px);
      // margin-left: -20px;
    }
    @media screen and (max-width: 375px) {
      // margin-left: -15px;
      // min-width: calc(100% + 30px);
    }
    img {
      width: 100%;
      // max-width: 70%;
      max-width: 935px;
      display: block;
      // object-fit: cover;
      @media screen and (max-width: 1280px) {
        max-width: 689px;
      }
      @media screen and (max-width: 1024px) {
        max-width: 538px;
      }
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    &__text {
      width: 902px;
      padding: 35px 49px 16px 49px;
      line-height: 1.2em;
      font-size: 24px;
      background: #fff;
      box-shadow: 0 0 15px -13px #000;
      position: absolute;
      top: 9px;
      right: -42px;
      bottom: 0;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      // margin: 5.5% 0;
      height: 75%;
      margin: auto;
      @media screen and (max-width: 1280px) {
        font-size: 18px;
        width: 670px;
        padding: 25px 39px 25px 39px;
        height: 76%;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        padding: 15px 25px 15px 25px;
        // height: 68%;
        width: 518px;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% - 30px);
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        height: auto;
        margin: -10px auto 0;
        font-size: 18px;
        padding: 25px 30px 25px 30px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
        padding: 20px 25px 20px 25px;

      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
        padding: 20px;
        width: 100%;
        margin: 0px auto 0;
      }
      p + p {
        margin-top: 17px;
      }
    }
  }

  .blue-label {
    width: 870px;
    margin-top: 138px;
    padding: 48px 38px 31px 38px;
    background: #08254d;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-family: Circe;
    line-height: 1.2em;
    @media screen and (max-width: 1280px) and (min-width: 769px) {
      margin-top: 90px;
      font-size: 36px;
      width: 640px;
      padding: 30px 30px 20px 30px;
    }
    @media screen and (max-width: 1024px) and (min-width: 769px) {
      margin-top: 75px;
      font-size: 32px;
      padding: 20px 20px 15px 20px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 70px;
      // display: none;
    }
    @media screen and (max-width: 600px) {
      margin-top: 40px;
      font-size: 36px;
      padding: 30px 30px 20px 30px;
    }
    @media screen and (max-width: 480px) {
      font-size: 32px;
      padding: 25px 20px 20px 25px;
      // text-align: center;
    }
    @media screen and (max-width: 375px) {
      font-size: 26px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 73px;
      left: 357px;
      height: 2px;
      width: 355px;
      background: #fff;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        width: 265px;
        left: 260px;
        top: 50px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        width: 212px;
        left: 230px;
        height: 1px;
        top: 35px;
      }
      @media screen and (max-width: 768px) {
        left: 350px;
        right: 20px;
        left: auto;
        width: 46%;
        // width: 340px;
      }
      @media screen and (max-width: 680px) {
        display: none;
      }
      // @media screen and (max-width: 600px) {
      //   width: 265px;
      //   left: 260px;
      //   top: 50px;
      // }
      // @media screen and (max-width: 480px) {
      //   width: 212px;
      //   left: 230px;
      //   height: 1px;
      //   top: 35px;
      //   display: none;
      // }
    }
  }

  .slider {
    margin-top: 76px;
    position: relative;
    width: calc(100% + 47px);
    margin-bottom: 148px;
    @media screen and (max-width: 1440px) {
      width: calc(100%);
    }
    @media screen and (max-width: 1280px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 768px) {
      // display: none;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 20px;
      margin-top: 45px;
    }
    &__info {
      // width: 918px;
      width: 58%;
      margin: auto;
      padding: 15px 20px 52px;
      background: $c-dark-blue;
      position: relative;
      text-align: center;
      color: #fff;
      position: absolute;

      bottom: -49px;
      left: -49px;
      right: 0;
      z-index: 1;
      @media screen and (max-width: 1280px) {
        // width: 58%;
        padding: 15px 20px 40px;
        left: 0;
      }
      @media screen and (max-width: 1024px) {
        padding: 15px 20px 20px;
        bottom: -20px;
      }
      @media screen and (max-width: 768px) {
        position: relative;
        left: auto;
        bottom: auto;
        width: 100%;
        padding: 25px 20px 52px;
      }
      @media screen and (max-width: 375px) {
        padding: 15px 20px 15px;
      }
      &--title {
        font-size: 84px;
        font-weight: 800;
        letter-spacing: 4px;
        @media screen and (max-width: 1280px) {
          font-size: 61px;
        }
        @media screen and (max-width: 768px) {
          font-size: 64px;
          font-weight: 600;
          letter-spacing: 2px;
        }
        @media screen and (max-width: 600px) {
          font-size: 54px;
        }
        @media screen and (max-width: 480px) {
          font-size: 40px;
        }
        @media screen and (max-width: 375px) {
          font-size: 28px;
        }
      }
      &--subtitle {
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.6px;
        margin-top: 4px;
        @media screen and (max-width: 1280px) {
          font-size: 24px;
        }
        @media screen and (max-width: 768px) {
          font-size: 32px;
        }
        @media screen and (max-width: 600px) {
          font-size: 24px;
        }
        @media screen and (max-width: 480px) {
          font-size: 20px;
        }
        @media screen and (max-width: 375px) {
          font-size: 16px;
        }
      }
      &--date {
        font-weight: 300;
        font-size: 19px;
        letter-spacing: 0.2px;
        margin-top: 7px;
        @media screen and (max-width: 1280px) {
          font-size: 14px;
        }
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
        @media screen and (max-width: 375px) {
          font-size: 12px;
        }
      }
      .slider__dots {
        margin-top: 38px;
        @media screen and (max-width: 375px) {
          margin-top: 10px;
        }
      }
      .slick-dots {
        display: flex;
        width: 100%;
        justify-content: center;
        // margin-top: 0px;
        li {
          width: 70px;
          height: 2px;
          margin: 0 5px;
          position: relative;
          @media screen and (max-width: 1280px) and (min-width: 769px) {
            width: 50px;
          }
          @media screen and (max-width: 375px) {
            width: 45px;
          }
          &:after {
            content: "";
            width: 100%;
            height: 20px;
            position: absolute;
            left: 0;
            top: -8px;
            // background: red;
            pointer-events: all;
            cursor: pointer;
            z-index: 0;
            @media screen and (max-width: 1280px) {
            }
          }
          &.slick-active {
            button {
              background: #fff;
            }
          }
          button {
            display: block;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 0;
            background: #465c7a;
            width: 100%;
            height: 100%;
            font-size: 0;
            z-index: 1;
            position: relative;
          }
        }
      }
    }
    &__arrows {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      padding: 0 31px;
      @media screen and (max-width: 1280px) {
        padding: 0 20px;
        margin-top: 40px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 45px;
        padding: 0 30px;
      }
      @media screen and (max-width: 600px) {
        padding: 0 15px;
      }
      @media screen and (max-width: 375px) {
        display: none;
      }
    }
    &__prev,
    &__next {
      cursor: pointer;

      // width: 251px;
      font-size: 18px;
      text-transform: uppercase;
      color: #3e3e3e;
      border: 1px solid #3e3e3e;
      font-weight: 600;
      font-family: "Circe";
      position: relative;
      @media screen and (max-width: 1280px)  and (min-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
      img {
        position: absolute;
        width: 41px;
        top: 0;
        bottom: 0;
        // left: 0;
        margin: auto;
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          width: 30px;
        }
        @media screen and (max-width: 600px) {
          width: 30px;
        }
      }
    }
    &__prev {
      padding: 20px 20px 13px 25px;
      text-align: right;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        padding: 14px 20px 10px 20px;
        width: 200px;
      
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        width: 160px;
        padding: 10px 10px 6px 10px;
      }
      @media screen and (max-width: 768px) {
        width: 290px;

        padding: 20px 20px 17px 25px;
      }
      @media screen and (max-width: 600px) {
        width: 200px;
        padding: 15px 15px 12px 20px;
      }
      @media screen and (max-width: 480px) {
        width: 180px;
        padding: 15px 10px 12px 10px;
      }
      img {
        left: -30px;
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          left: -25px;
        }
        @media screen and (max-width: 768px) {
          left: -30px;
        }
        @media screen and (max-width: 600px) {
          left: -15px;
        }
      }
    }
    &__next {
      padding: 20px 91px 13px 26px;
      text-align: left;
      @media screen and (max-width: 1280px) and (min-width: 769px) {
        padding: 14px 20px 10px 20px;
        width: 200px;
     
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        width: 160px;
        padding: 10px 10px 6px 10px;
      }
      @media screen and (max-width: 768px) {
        width: 290px;

        padding: 20px 20px 17px 25px;
        margin-left: 5px;
      }
      @media screen and (max-width: 600px) {
        width: 200px;
        padding: 15px 15px 12px 20px;
      }
      @media screen and (max-width: 480px) {
        width: 180px;
        padding: 15px 10px 12px 10px;
      }
      img {
        right: -30px;
        transform: rotate(180deg);
        @media screen and (max-width: 1280px) and (min-width: 769px) {
          right: -25px;
        }
        @media screen and (max-width: 768px) {
          right: -30px;
        }
        @media screen and (max-width: 600px) {
          right: -15px;
        }
      }
    }
    &__item {
      img {
        display: block;
        width: 100%;
        @media screen and (max-width: 768px) {
          display: block;
          width: 100%;
          min-height: 400px;
          object-fit: cover;
        }
        @media screen and (max-width: 480px) {
          min-height: 320px;
        }
        @media screen and (max-width: 375px) {
          min-height: 200px;
        }
      }
    }
  }
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/circe/Circe-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}
