@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "fonts.scss";



body {
  // font-family: "Raleway regular", sans-serif;
}

.container {
  width: 100%;
  max-width: 1255px;
  min-width: 300px;
  margin: auto;
  padding: 0 40px;

  // @media screen and (max-width: 768px) {
  //   padding: 0 20px;
  // }
}

main {
  // min-height: calc(100% - 44px);
  // padding-top: 123px;
  // @media screen and (max-width: 1024px) {
  //   padding-top: 80px;
  // }
  // @media screen and (max-width: 768px) {
  //   padding-top: 60px;
  // }
}

.light-off {
  
}